body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.header {
    color: rgb(161, 143, 143);
    text-align: center;
    padding: 20px 0;
}

.navbar ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

.navbar li {
    display: inline;
    margin-right: 20px;
}

.navbar a {
    position: relative;
    left: 6em;
    text-decoration: none;
    color: rgb(7, 32, 32);
    font-weight: bold;
    font-size: 1.2em;
}

.logo {
    position: relative;
    right: 8em;
    bottom: 2.3em;
    height: 6em;
    width: 40%;
    border-radius: 0.5em;
}
.Contact-Us h1 {
    font-size: 2em;
    color: rgb(255, 0, 0);
  
}
.Contact-Us h2 {
    font-size: 2em;
    color: rgb(255, 0, 0);
  
}
.Contact-Us p {
    font-size: 1.5em;
    color: rgb(7, 32, 32);
  
}


.image-gallery {
    position: relative;
    top: 1em;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.image-gallery img {
    
    height: 25em;
    width: 45%;
    border-radius: 20px;
}

.terms-container {
    background: white;
    padding: 20px;
    margin: auto;
    max-width: 800px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 10px;
}


.img{
    position: relative;
    top: 15em;
    width: 100%;
    height: 60em;
    border-radius: 5em;
}
.contact-form {
position: relative;
bottom: 30em;
left: 9em;
    width: 75%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="email"],
textarea {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 10em;
    position: relative;
    left:55em;
    padding: 10px;
    background-color:  rgb(255, 0, 0);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.chat {
    width: 10em;
    bottom: 30em;
    position: relative;
    left:30em;
    padding: 10px;
    background-color:   rgb(7, 32, 32);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.social-icons img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.footer-content {
    display: flex;
    justify-content: space-between;
    background-color: rgb(7, 32, 32) ;  
    padding: 20px;
    
}
.footer-content p{
    font-size: 1em;
    color: rgb(255, 255, 255);
    position: relative;
    top: 1em;
}

.footer-section {
    flex: 1;
    padding: 10px;
    margin: 5px;
}


.footer-section h3 {
    color: #ff0000; 
}

@media (max-width: 1024px) {
    .navbar a {
        position: relative;
        left: 6em;
        text-decoration: none;
        color: rgb(7, 32, 32);
        font-weight: bold;
        font-size: 1.2em;
    }

    .logo {
        right: 6em;
        bottom: 2.1em;
        width: 35%;
        height: auto;
    }

    .contact-form {
        left: 9em;
        width: 70%;
        bottom: 23em;
    }

    button {
        left: 20em;
        margin: 0 auto;
        display: block;
    }
    .chat {
        width: 10em;
        bottom: 26em;
        position: relative;
        left:30em;
        padding: 10px;
        background-color:   rgb(7, 32, 32);
        color: rgb(255, 255, 255);
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .image-gallery {
        display: block;
        flex-direction: column;
        align-items: center;
    }

    .image-gallery img {
       
        width:40%;
        height: auto;
    }

    .img {
        top: 10;
        height: auto;
    }
    .footer-content {
        display: flex;
        justify-content: space-between;
        background-color: rgb(7, 32, 32) ;  
        padding: 20px;
        
    }
    .footer-content p{
        font-size:1em;
        color: rgb(255, 255, 255);
        position: relative;
        top: 1em;
    }
    
    .footer-section {
        width: 100%;
        margin-bottom: 20px;
    }
}


@media (max-width: 768px) {
    .navbar ul {
        list-style: none;
        padding: 0;
        text-align: center;
    }
    
    .navbar li {
        position: relative;
        right:7em;
        display: inline;
        margin-right: 20px;
    }
    
    .navbar a {
        position: relative;
        bottom: 1em;
        left: 15em;
        text-decoration: none;
        color: rgb(7, 32, 32);
        font-weight: bold;
        font-size: 1em;
    }

    .logo {
        right: 10em;
        bottom: 1.5em;
        height: auto;
    }
    .Contact-Us h1, .Contact-Us h2 {
        font-size: 1.5em;
    }

    .contact-form {
        bottom: 17em;
        width: 70%;
        left: 6em;
        
    }
    .contact-form form {
        width: 90%;
        display: flex;
        flex-direction: column;
    }

    .image-gallery img {
        width: 40%;
        height: auto;
    }

    .terms-container {
        max-width: 90%;
    }

    button {
        left: 12em;
        margin: 10px auto;
        display: block;
    }
   .footer-content {
        display: flex;
        justify-content: space-between;
        background-color: rgb(7, 32, 32) ;  
        padding: 20px;
        
    }
    .footer-content p{
        font-size: 0.8em;
        color: rgb(255, 255, 255);
        position: relative;
        top: 1em;
    }
    
    .footer-section {
        flex: 1;
        padding: 10px;
        margin: 1px;
    }
    
    
    .footer-section h3 {
        font-size: 0.8em;
        color: #ff0000; 
    }
}


@media (max-width: 576px) {
    .navbar ul {
        width: 100%;
        list-style: none;
        padding: 0;
        text-align: center;
    }
    
    .navbar li {
        position: relative;
        display: inline;
        margin-right: 10px; 
    }
    
    .navbar a {
        position: relative;
        left: 11em; 
        text-decoration: none;
        color: rgb(7, 32, 32);
        font-weight: bold;
        font-size: 0.9em; 
    }

    .logo {
        position: relative;
        right: 28%; 
        top: -5vw; 
        width: 40%; 
        height: auto; 
    }

    .Contact-Us h1, .Contact-Us h2 {
        font-size: 1.2em;
    }

    .contact-form {
        bottom: 20em;
        width: 80%;
        left: 2em;
        
    }
    .contact-form form {
        width: 90%;
        display: flex;
        flex-direction: column;
    }
    .img{
        position: relative;
        top: 15em;
        width: 100%;
        height: 40em;
        border-radius: 5em;
    }

    .image-gallery img {
        width: 40%;
        height: auto;
    }

    .terms-container {
        max-width: 90%;
    }

    button {
        width: 5em;
        left: 12em;
        margin: 10px auto;
        display: block;
    }
   
    .footer-content p {
        font-size: 0.6em;
    }
    .footer-content  {
        width: 100%;
        font-size: 1.3em; 
        margin-top: 5px; 
    }

    .footer-section h3 {
        font-size: 0.6em;
    }

    .footer-section {
        margi
}
@media (max-width: 430px) {
    .navbar ul {
        width: 100%;
        list-style: none;
        padding: 0;
        text-align: center;
    }

    .navbar li {
        position: relative;
        display: inline;
        margin-right: 5px;
    }

    .navbar a {
        position: relative;
        left: 15em;
        text-decoration: none;
        color: rgb(7, 32, 32);
        font-weight: bold;
        font-size: 0.7em;
    }

    .logo {
        position: relative;
        right: 36%;
        top: -7vw;
        width: 45%;
        height: auto;
    }
 

    .Contact-Us h1, .Contact-Us h2 {
        font-size: 1.5em;
    }
    .Contact-Us p {
        font-size: 1em;
        color: rgb(7, 32, 32);
      
    }

    .contact-form {
        bottom: 20em;
        width: 80%;
        left: 2em;
        
    }
    .contact-form form {
        width: 90%;
        display: flex;
        flex-direction: column;
    }
    .img{
        position: relative;
        top: 15em;
        width: 100%;
        height: 40em;
        border-radius: 5em;
    }

    .image-gallery img {
        width: 40%;
        height: auto;
    }

    .terms-container {
        max-width: 90%;
    }

    button {
        width: 5em;
        left: 12em;
        margin: 10px auto;
        display: block;
    }
 
    .footer-content p {
        font-size: 0.5em;
    }
    .footer-content  {
        width: 100%;
        font-size: 1em; 
        margin-top: 5px; 
    }

    .footer-section h3 {
        font-size: 0.6em;
    }
    .footer-section p {
        color: #ffffff;
}   

    .footer-section {
        margin: 2px; 
        left: 10em ;
}   
}