body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.header {
    color: rgb(161, 143, 143);
    text-align: center;
    padding: 20px 0;
}

.navbar ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

.navbar li {
    display: inline;
    margin-right: 20px;
}

.navbar a {
    position: relative;
    left: 6em;
    text-decoration: none;
    color: rgb(7, 32, 32);
    font-weight: bold;
    font-size: 1.2em;
}

.logo {
    position: relative;
    right: 8em;
    bottom: 2.3em;
    height: 6em;
    width: 40%;
    border-radius: 0.5em;
}
.Contribution h1 {
    font-size: 2em;
    color: rgb(7, 32, 32);
  
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.card {
    width: 20em;
    height: 30em;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
}

.card img {
    width: 100%;
    height: 20em;
}

.card p {
    padding: 15px;
    text-align: center;
    margin: 0;
    background-color: #f0f0f0;
}

.support-button {
    display: block;
    width: calc(100% - 30px);
    padding: 10px 15px;
    margin: 10px auto;
    background-color: #ff0000; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}


.Support h1 {
   color: rgb(7, 32, 32);
}
.Support p {
    font-size: 1.7em;
    color: rgb(7, 32, 32);
 }

@media (max-width: 1024px) {
    .navbar a {
        position: relative;
        left: 6em;
        text-decoration: none;
        color: rgb(7, 32, 32);
        font-weight: bold;
        font-size: 1.2em;
    }

    .logo {
        right: 6em;
        bottom: 2.1em;
        width: 35%;
        height: auto;
    }

    .card {
        width: 15em;
        height: 30em;
    }

    .support-button {
        width: calc(100% - 20px);
    }

    .footer-content {
        display: flex;
        justify-content: space-between;
        background-color: rgb(7, 32, 32) ;  
        padding: 20px;
        
    }
    .footer-content p{
        font-size:1em;
        color: rgb(255, 255, 255);
        position: relative;
        top: 1em;
    }
    
    .footer-section {
        width: 100%;
        margin-bottom: 20px;
    }

@media (max-width: 768px) {
    .navbar ul {
        list-style: none;
        padding: 0;
        text-align: center;
    }
    
    .navbar li {
        position: relative;
        right:7em;
        display: inline;
        margin-right: 20px;
    }
    
    .navbar a {
        position: relative;
        bottom: 1em;
        left: 15em;
        text-decoration: none;
        color: rgb(7, 32, 32);
        font-weight: bold;
        font-size: 1em;
    }

    .logo {
        right: 10em;
        bottom: 1.5em;
        height: auto;
    }
    .Contribution h1 {
        font-size: 1.5em;
    }

    .card-container {
        margin-top: 10em;
        flex-direction: column;
        align-items: center;
    }

    .card {
       
        width: 60%;
        height: auto;
    }

    .support-button {
        width: 90%;
    }
    .Support h1 {
        color: rgb(7, 32, 32);
     }
     .Support,p {
         font-size: 0.9em;
         color: rgb(200, 216, 216);
      }

    .footer-content {
        display: flex;
        justify-content: space-between;
        background-color: rgb(7, 32, 32) ;  
        padding: 20px;
        
    }
    .footer-content p{
        font-size:0.8em;
        color: rgb(255, 255, 255);
        position: relative;
        top: 1em;
    }
    
    .footer-section {
        width: 100%;
        margin-bottom: 20px;
    }
}


@media (max-width: 576px) {
    .navbar ul {
        width: 100%;
        list-style: none;
        padding: 0;
        text-align: center;
    }
    
    .navbar li {
        position: relative;
        display: inline;
        margin-right: 10px; 
    }
    
    .navbar a {
        position: relative;
        left: 11em; 
        text-decoration: none;
        color: rgb(7, 32, 32);
        font-weight: bold;
        font-size: 0.9em; 
    }

    .logo {
        position: relative;
        right: 28%; 
        top: -5vw; 
        width: 40%; 
        height: auto; 
    }

    .Contribution h1 {
        font-size: 1.2em;
    }

    .card {
        width: 90%;
        height: auto;
    }
    .Support h1 {
        color: rgb(7, 32, 32);
     }
     .Support,p {
         font-size: 0.9em;
         color: rgb(200, 216, 216);
      }

    .support-button {
        width: 95%;
    }

    .footer-content  {
        width: 100%;
        font-size: 1em; 
        margin-top: 5px; 
    }
    
    .footer-section h3 {
        font-size: 0.6em;
    }
    
    .footer-section {
        margin: 2px; 
    }
}
@media (max-width: 430px) {
    .navbar ul {
        width: 100%;
        list-style: none;
        padding: 0;
        text-align: center;
    }

    .navbar li {
        position: relative;
        display: inline;
        margin-right: 5px;
    }

    .navbar a {
        position: relative;
        left: 15em;
        text-decoration: none;
        color: rgb(7, 32, 32);
        font-weight: bold;
        font-size: 0.7em;
    }

    .logo {
        position: relative;
        right: 36%;
        top: -7vw;
        width: 45%;
        height: auto;
    }
    .Contribution h1 {
        font-size: 1.5em;
    }

    .card {
        width: 90%;
        height: auto;
    }
    .Support h1 {
        color: rgb(7, 32, 32);
     }
     .Support,p {
         font-size: 0.9em;
         color: rgb(200, 216, 216);
      }

    .support-button {
        width: 95%;
    }
 
    .footer-content p {
        font-size: 0.6em;
    }
    .footer-content  {
        width: 100%;
        font-size: 1em; 
        margin-top: 5px; 
    }

    .footer-section h3 {
        font-size: 0.6em;
    }

    .footer-section {
        margin: 2px; 
        left: 10em ;
}   
}